@charset "utf-8";
@include media-breakpoint-up(sm) {
    .navbar {
      display: block;
    }
    }
:root{
    color: #525957
    #8ADFC7
    #C7D9D4
    #375950
    #98A6A2
}
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #8ADFC7;
    
}
h1{
    color: white;
}
.navbar{
    padding: 20px
}
nav a, nav ul{

    list-style-type: none;
    text-decoration: none;
    color: white;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    display: inline-block;
    margin:10px;
}
.navlist ul a{
    padding: 10px;
    border-radius: 10px;
}
.navlist a:hover{
    color: white;
    background-color: #1d332d;
}

.brand{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.navbar>.container#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist{
    display: flex;
}
/* Conteudo */