@charset "utf-8";

:root{
    color: #525957
    #8ADFC7
    #C7D9D4
    #375950
    #98A6A2
}
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #8ADFC7;
    
    
}
.navbar{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
h1{
    color: white
}
nav a, nav ul{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    display: inline-block;
    margin:10px;
}
.navlist ul a{
    padding: 10px;
    border-radius: 10px;
}
.navlist a:hover{
    color: white;
    background-color: #1d332d;
    transition-delay:  0.5s;
}

.brand{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.navbar>.container#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist{
    display: flex;
}
/* Conteudo */
main{
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    background-color: #525957;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px 1px;
    border-radius: 10px;
    overflow: hidden;
}
main a, main ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
main table a{
    font-weight: bold;
}
main a:hover{
    color: black;
   
}
table{
    margin: 5px auto;
    padding: 10px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

}
main thead, main tbody, main th, main tr, main td{
    padding: 5px;
    text-align: center
}
main thead, main th, main td{
    border: 1px solid rgb(94, 94, 94);
    padding: 5px;
    text-align: center
}
form{
    display: flex;
    width: 100%;
    color: white;
    padding: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cadbutton{
    border: 0px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #C7D9D4;
    color: black;
}
.cadbutton:hover{
    background-color: #808382;
}
.container#botão{
    padding: 0px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.cadbutton{
    width: 100%;
    margin: 5px 0px;
}

input#bnome, input#bdata{
    width: 100%;
    margin: 5px;
}
input#id_email{
    width: 100%;
}


@media screen and (max-width: 1280px){
    .brand {
        font-size: 2em;
    }
    nav ul{
        font-size: 1.3em;
    }
    form{
        display: flex;
        width: 100%;
        color: white;
        padding: 10px;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    input#bnome, input#bdata{
        width: 100%;
        margin: 5px;
    }
    .container#botão{
        padding: 0px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    .cadbutton{
        width: 100%;
        margin: 5px 0px;
    }

}

@media screen and (max-width: 830px){
    main{
        width: 90%;
    }
    form{
        display: flex;
        width: 100%;
        color: white;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .container#botão{
        padding: 10px;
        
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    input.cadbutton{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 540px){
    table{
        font-size: 0.8em;

    }
    form{
        display: flex;
        width: 100%;
        color: white;
        padding: 10px;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    input#bnome, input#bdata{
        width: 70%;
        margin: 5px;
    }
}

@media screen and (max-width: 415px){
    .brand h1{
        font-size: 1.2em;
    }
    main{
        width: 98%;
        margin: 10px auto;
    }
    form{
        display: flex;
        width: 100%;
        color: white;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
    }
    .container#botão{
        padding: 0px;
        display: inline-flex;
        flex-direction: column;
        margin: 0px;
        justify-content: space-around;
    }
    input#bnome, input#bdata{
        width: 100%;
        margin: 5px;
    }
    table{
        font-size: 0.8em;
    }
    .cadbutton{
        width: 100%;
        
    }
}

@media screen and (max-width: 285px) {
    .brand{
        font-size: 0.75em;
        justify-content: center;
        align-items: center; 
    }
    table{
        margin: 5px auto;
        font-size: 0.55em;
    }
    input#bnome, input#bdata{
        width: 100%;
    }
    form{
        width: 100%;
        flex-direction: column;
    }
    .cadbutton{
        width: 100%;
    }
}