<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static "/Homepage/Style.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/Imagens/favicon.ico' %}"/>
</head>
<body>
    <main>
        <div id='login'>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="OK">
                </form> 
                <p style="color:white"> Não possui conta?</p>
                <p ><a href="/accounts/register"style="color:white"> Cadastre-se.</a></p>
        </div>
    </main>
</body>
</html>